@font-face {
  /* font-family: 'StylishCalligraphyDemo';
  src: url('../assets/font/StylishCalligraphyDemo-XPZZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; */

  font-family: 'LovelyHome';
  src: url('../assets/font/LovelyHome-9aBZ.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belgiano Serif';
  src: url('../assets/font/Belgiano Serif 2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}